INFORMIX_VERSION="12.10"

#-------------------------------------------------------------------------------
# Instance to be created after the installation.
#-------------------------------------------------------------------------------
INFORMIXSERVER="ifx1210"
PORT="9088"
SERVICE_NAME="ifx1210"
SERVERNUM="121"

#-------------------------------------------------------------------------------
# Informix software and features to be installed.
#-------------------------------------------------------------------------------
CHOSEN_FEATURE_LIST="IDS,IDS-SVR,IDS-EXT,IDS-EXT-JAVA,IDS-EXT-OPT,IDS-EXT-CNV,IDS-EXT-XML,IDS-DEMO,IDS-ER,IDS-LOAD,IDS-LOAD-ONL,IDS-LOAD-DBL,IDS-LOAD-HPL,IDS-BAR,IDS-BAR-CHK,IDS-BAR-ONBAR,IDS-BAR-TSM,IDS-ADM,IDS-ADM-PERF,IDS-ADM-MON,IDS-ADM-ADT,IDS-ADM-IMPEXP,IDS-JSON,GLS,GLS-WEURAM,GLS-EEUR,GLS-CHN,GLS-JPN,GLS-KOR,GLS-OTH"
