INFORMIXDIR="/opt/ibm/informix/12.10"
INFORMIXSERVER="ifx-1210"
PORT="9088"
SERVICE_NAME="ifx-1210"
DATA_STORAGE_DIR="/home/informix/12.10/data"
ONCONFIG="$INFORMIXDIR/onconfig.$INFORMIXSERVER"
SQLHOSTS="$INFORMIXDIR/onconfig.$INFORMIXSERVER"
TAPEDEV="/dev/null"
LTAPEDEV="/dev/null"
CHOSEN_FEATURE_LIST="IDS,IDS-SVR,IDS-EXT,IDS-EXT-JAVA,IDS-EXT-OPT,IDS-EXT-CNV,IDS-EXT-XML,IDS-DEMO,IDS-ER,IDS-LOAD,IDS-LOAD-ONL,IDS-LOAD-DBL,IDS-LOAD-HPL,IDS-BAR,IDS-BAR-CHK,IDS-BAR-ONBAR,IDS-BAR-TSM,IDS-ADM,IDS-ADM-PERF,IDS-ADM-MON,IDS-ADM-ADT,IDS-ADM-IMPEXP,IDS-JSON,GLS,GLS-WEURAM,GLS-EEUR,GLS-CHN,GLS-JPN,GLS-KOR,GLS-OTH"
