INFORMIX_VERSION="12.10"

#-------------------------------------------------------------------------------
# The informix user is only created if it does not exist.
#-------------------------------------------------------------------------------
INFORMIX_USER_HOME="/home/informix"

#-------------------------------------------------------------------------------
# Informix software and features to be installed.
#-------------------------------------------------------------------------------
CHOSEN_FEATURE_LIST="IDS,IDS-SVR,IDS-EXT,IDS-EXT-JAVA,IDS-EXT-OPT,IDS-EXT-CNV,IDS-EXT-XML,IDS-DEMO,IDS-ER,IDS-LOAD,IDS-LOAD-ONL,IDS-LOAD-DBL,IDS-LOAD-HPL,IDS-BAR,IDS-BAR-CHK,IDS-BAR-ONBAR,IDS-BAR-TSM,IDS-ADM,IDS-ADM-PERF,IDS-ADM-MON,IDS-ADM-ADT,IDS-ADM-IMPEXP,IDS-JSON,GLS,GLS-WEURAM,GLS-EEUR,GLS-CHN,GLS-JPN,GLS-KOR,GLS-OTH"

#-------------------------------------------------------------------------------
# Installation directory.
#-------------------------------------------------------------------------------
INFORMIXDIR="/opt/ibm/informix/${INFORMIX_VERSION}"

#-------------------------------------------------------------------------------
# Instance to be created after the installation.
#-------------------------------------------------------------------------------
INFORMIXSERVER="ifx-1210"
PORT="9088"
SERVICE_NAME="ifx-1210"
ONCONFIG="$INFORMIXDIR/etc/onconfig.${INFORMIXSERVER}"
SQLHOSTS="$INFORMIXDIR/etc/sqlhosts.${INFORMIXSERVER}"

#-------------------------------------------------------------------------------
# Data storage.
#-------------------------------------------------------------------------------
ROOTPATH="${INFORMIX_USER_HOME}/${INFORMIX_VERSION}/data/dbspaces/rootdbs"

#-------------------------------------------------------------------------------
# Tape device path for backups.
#
# /dev/null is only suitable for development.
#-------------------------------------------------------------------------------
TAPEDEV="/dev/null"
#TAPEDEV="${INFORMIX_USER_HOME}/${INFORMIX_VERSION}/data/backup/data"

#-------------------------------------------------------------------------------
# Tape device path for logical logs.
#
# /dev/null is only suitable for development.
#-------------------------------------------------------------------------------
LTAPEDEV="/dev/null"
#LTAPEDEV="${INFORMIX_USER_HOME}/${INFORMIX_VERSION}/data/backup/llogs"

#-------------------------------------------------------------------------------
# Default table lock mode for new tables.
#-------------------------------------------------------------------------------
DEF_TABLE_LOCKMODE="row"

#-------------------------------------------------------------------------------
# Server Message File Configuration
#-------------------------------------------------------------------------------
MSGPATH="${INFORMIX_USER_HOME}/${INFORMIX_VERSION}/data/logs/online.log"
CONSOLE="${INFORMIX_USER_HOME}/${INFORMIX_VERSION}/data/logs/online.con"
