#-------------------------------------------------------------------------------
# The informix user is only created if it does not exist.
#-------------------------------------------------------------------------------
INFORMIX_USER_HOME="/home/informix"

#-------------------------------------------------------------------------------
# Installation directory.
#-------------------------------------------------------------------------------
INFORMIXDIR="/opt/ibm/informix/${INFORMIX_VERSION}"

#-------------------------------------------------------------------------------
# Informix configuration files.
#-------------------------------------------------------------------------------
ONCONFIG="onconfig.${INFORMIXSERVER}"
INFORMIXSQLHOSTS="$INFORMIXDIR/etc/sqlhosts.${INFORMIXSERVER}"

#-------------------------------------------------------------------------------
# Data storage.
#-------------------------------------------------------------------------------
ROOTNAME="rootdbs"
ROOTPATH="${INFORMIX_USER_HOME}/${INFORMIX_VERSION}/data/dbspaces/${ROOTNAME}"

#-------------------------------------------------------------------------------
# Tape device path for backups.
#
# /dev/null is only suitable for development.
#-------------------------------------------------------------------------------
TAPEDEV="/dev/null"
#TAPEDEV="${INFORMIX_USER_HOME}/${INFORMIX_VERSION}/data/backup/data"

#-------------------------------------------------------------------------------
# Tape device path for logical logs.
#
# /dev/null is only suitable for development.
#-------------------------------------------------------------------------------
LTAPEDEV="/dev/null"
#LTAPEDEV="${INFORMIX_USER_HOME}/${INFORMIX_VERSION}/data/backup/llogs"

#-------------------------------------------------------------------------------
# Default table lock mode for new tables.
#-------------------------------------------------------------------------------
DEF_TABLE_LOCKMODE="row"

#-------------------------------------------------------------------------------
# Server Message File Configuration
#-------------------------------------------------------------------------------
MSGPATH="${INFORMIX_USER_HOME}/${INFORMIX_VERSION}/data/logs/online.log"
CONSOLE="${INFORMIX_USER_HOME}/${INFORMIX_VERSION}/data/logs/online.con"

#-------------------------------------------------------------------------------
# Environment config.
#-------------------------------------------------------------------------------
ENVIRONMENT_FILE="${INFORMIXDIR}/etc/${INFORMIXSERVER}.env"
CLIENT_LOCALE="en_US.utf8"
DB_LOCALE="en_US.utf8"
DBDATE="Y4MD-"
DBDELIMITER="|"
